@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "Source Sans Pro", system-ui, sans-serif;
    scroll-behavior: none;
  }
  html,
  body,
  #root {
    height: 100%;
  }
  ::selection {
    @apply text-brand;
  }
  mark {
    @apply bg-secondary text-accent px-2;
  }
  .animate::after {
    @apply border border-brand;
    scale: 1;
    animation: click 300ms forwards;
  }
}

@keyframes click {
  from {
    scale: 0;
  }
  to {
    scale: 0.95;
  }
}

:root {
  --scale: 0.8;
}

/*Pointer Animation*/

/* Scroll Animation */

.field {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.mouse {
  width: 50px;
  height: 90px;
  border: 3px solid #7c7c7c;
  border-radius: 60px;
  position: relative;
  scale: 0.8;
}
.mouse::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #7c7c7c;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  scale: var(--scale);
  -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}
@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}
.scroll {
  width: 60px;
  height: 60px;
  border: 2px solid #7c7c7c;
  border-radius: 50%;
  position: relative;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
  scale: var(--scale);
}
.scroll::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 18px;
  width: 18px;
  height: 18px;
  border-left: 2px solid #7c7c7c;
  border-bottom: 2px solid #7c7c7c;
  transform: rotate(-45deg);
}

@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}
@-webkit-keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}

@keyframes scroll {
  0% {
    height: 40px;
  }
  30% {
    height: 70px;
  }
  60% {
    height: 40px;
  }
}
@-webkit-keyframes scroll {
  0% {
    height: 40px;
  }
  30% {
    height: 70px;
  }
  60% {
    height: 40px;
  }
}
/*Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1;
}
